.vegaTitle{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: large;
}

.vegaLabel{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: large;
}

.progressBarText{
  font-weight: bold;
  font-size: large;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}